<div class="tiny-page-nav">
    <ul class="uk-list">
        <li><a class="uk-button uk-button-link" uk-scroll="offset:300" href="#top"><span uk-icon="arrow-up"></span></a>
        </li>
        <li><a class="uk-button uk-button-link" uk-scroll="offset:32" href="#education">Education</a></li>
        <li><a class="uk-button uk-button-link" uk-scroll="offset:32" href="#experience">Experience</a></li>
        <li><a class="uk-button uk-button-link" uk-scroll="offset:32" href="#impact">Impact</a></li>
        <li><a class="uk-button uk-button-link" uk-scroll="offset:32" href="#my-process--design-philosophy">Philosophy</a></li>
        <li><a class="uk-button uk-button-link" uk-scroll="offset:32" href="#tools">Tools</a></li>
        <li><a class="uk-button uk-button-link" uk-scroll="offset:32" href="#influence">Influence</a></li>
    </ul>
</div>