<div uk-slider class="influence-slider">
    <div class="uk-position-relative">
        <div class="uk-slider-container">
            <ul class="uk-slider-items uk-child-width-1-6 uk-grid">
                <li>
                    <div class="uk-card">
                        <div class="uk-card-media-top">
                            <img src="http://www.getuikit.com/docs/images/slider3.jpg" alt="">
                        </div>
                        <div class="card-caption">
                            <strong>Name</strong><br>
                            Lorem ipsum dolor sit ame.
                        </div>
                    </div>
                </li>
                <li>
                    <div class="uk-card">
                        <div class="uk-card-media-top">
                            <img src="http://www.getuikit.com/docs/images/slider3.jpg" alt="">
                        </div>
                        <div class="card-caption">
                            <strong>Name</strong><br>
                            Lorem ipsum dolor sit ame.
                        </div>
                    </div>
                </li>
                <li>
                    <div class="uk-card">
                        <div class="uk-card-media-top">
                            <img src="http://www.getuikit.com/docs/images/slider3.jpg" alt="">
                        </div>
                        <div class="card-caption">
                            <strong>Name</strong><br>
                            Lorem ipsum dolor sit ame.
                        </div>
                    </div>
                </li>
                <li>
                    <div class="uk-card">
                        <div class="uk-card-media-top">
                            <img src="http://www.getuikit.com/docs/images/slider3.jpg" alt="">
                        </div>
                        <div class="card-caption">
                            <strong>Name</strong><br>
                            Lorem ipsum dolor sit ame.
                        </div>
                    </div>
                </li>
                <li>
                    <div class="uk-card">
                        <div class="uk-card-media-top">
                            <img src="http://www.getuikit.com/docs/images/slider3.jpg" alt="">
                        </div>
                        <div class="card-caption">
                            <strong>Name</strong><br>
                            Lorem ipsum dolor sit ame.
                        </div>
                    </div>
                </li>
                <li>
                    <div class="uk-card">
                        <div class="uk-card-media-top">
                            <img src="http://www.getuikit.com/docs/images/slider3.jpg" alt="">
                        </div>
                        <div class="card-caption">
                            <strong>Name</strong><br>
                            Lorem ipsum dolor sit ame.
                        </div>
                    </div>
                </li>
                <li>
                    <div class="uk-card">
                        <div class="uk-card-media-top">
                            <img src="http://www.getuikit.com/docs/images/slider3.jpg" alt="">
                        </div>
                        <div class="card-caption">
                            <strong>Name</strong><br>
                            Lorem ipsum dolor sit ame.
                        </div>
                    </div>
                </li>
                <li>
                    <div class="uk-card">
                        <div class="uk-card-media-top">
                            <img src="http://www.getuikit.com/docs/images/slider3.jpg" alt="">
                        </div>
                        <div class="card-caption">
                            <strong>Name</strong><br>
                            Lorem ipsum dolor sit ame.
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <a class="uk-position-center-left-out" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
        <a class="uk-position-center-right-out" href="#" uk-slidenav-next uk-slider-item="next"></a>
    </div>
</div>