<form class="uk-card uk-width-1-2@s uk-align-center uk-text-default " target="_self" enctype="multipart/form-data" action="https://formkeep.com/f/cbef5087baa8" accept-charset="UTF-8" method="post">
  <fieldset class="uk-card-body">
    <h3><span uk-icon="mail" class="inline-icon uk-margin-right"></span>Contact Me</h3>
    <div uk-grid>
      <div class="uk-width-1-2@s" id="Your_Name__div">
          <label class="uk-form-label" title="required" for="Your_Name">Your Name *</label>
          <div class="uk-form-controls">
            <input class="uk-input" type="text" name="Your Name" id="Your_Name" required="required" autofocus="autofocus" />
          </div>
      </div>
      <div class="uk-width-1-2@s" id="Your_Email__div">
        <label class="uk-form-label" title="required" for="Your_Email">Your Email *</label>
        <div class="uk-form-controls" >
          <input class="uk-input" type="email" name="Your Email" id="Your_Email" required="required"/>
        </div>
      </div>
    </div>
    <div class="uk-width-1-1 uk-margin" id="Message__div">
      <label class="uk-form-label" title="required" for="Message">Message *</label>
      <div class="uk-form-controls">
        <textarea class="uk-textarea" rows="4" name="Message" id="Message" required="required" placeholder="Drop me a message!"></textarea>
      </div>
    </div>
    <div style="opacity:0;position:absolute;top:0;left:-5000px;height:0;width:0">
      <label class="uk-form-label" for="subscribe_cbef5087baa8_43181"></label>
      <input name="subscribe_cbef5087baa8_43181" value="" tabindex="-1" autocomplete="off"
            type="email" id="email_subscribe_cbef5087baa8_43181" placeholder="Your email here">
    </div>
    <input type="hidden" name="g-recaptcha-response" id="g-recaptcha-response" value="" autocomplete="off" />
    <div class="uk-margin">
      <input type="submit" value="Submit" class="uk-button uk-button-default" data-disable-with="Submit" />
    </div>
  </fieldset>
</form>