<section class="logos-list uk-padding uk-margin-large-top" uk-toggle="cls: logo-list-in-colour;" tabindex=0>
    <ul id="logos-list" class="uk-flex-center uk-grid-small" uk-grid>
        <li>
            <div uk-img data-src="/assets/content-images/logos/anipet-dark.png" class="logo-image small">
                <img src="/assets/content-images/logos/anipet-light.png" class="logo-image-colour" alt="client logo">
            </div>
            
        </li>
        <li>
            <div uk-img data-src="/assets/content-images/logos/bcaa-dark.png" class="logo-image">
                <img src="/assets/content-images/logos/bcaa-light.png" class="logo-image-colour" alt="client logo">
            </div>
        </li>
				<li>
					<div uk-img data-src="/assets/content-images/logos/bcmcfd-dark.png" class="logo-image larger">
							<img src="/assets/content-images/logos/bcmcfd-light.png" class="logo-image-colour" alt="client logo">
					</div>
			</li>
				<li>
					<div uk-img data-src="/assets/content-images/logos/bcch-dark.png" class="logo-image larger">
							<img src="/assets/content-images/logos/bcch-light.png" class="logo-image-colour" alt="client logo">
					</div>
			</li>
        <li>
            <div uk-img data-src="/assets/content-images/logos/dwave-dark.png" class="logo-image">
                <img src="/assets/content-images/logos/dwave-light.png" class="logo-image-colour" alt="client logo">
            </div>
        </li>
        <li>
            <div uk-img data-src="/assets/content-images/logos/finhaven-dark.png" class="logo-image">
                <img src="/assets/content-images/logos/finhaven-light.png" class="logo-image-colour" alt="client logo">
            </div>
        </li>
        <li>
            <div uk-img data-src="/assets/content-images/logos/gct-dark.png" class="logo-image">
                <img src="/assets/content-images/logos/gct-light.png" class="logo-image-colour" alt="client logo">
            </div>
        </li>
        <li>
            <div uk-img data-src="/assets/content-images/logos/granted-dark.png" class="logo-image">
                <img src="/assets/content-images/logos/granted-light.png" class="logo-image-colour" alt="client logo">
            </div>
        </li>
        <li>
            <div uk-img data-src="/assets/content-images/logos/investmentsillustrated-dark.png" class="logo-image">
                <img src="/assets/content-images/logos/investmentsillustrated-light.png" class="logo-image-colour" alt="client logo">
            </div>
        </li>
        <li>
            <div uk-img data-src="/assets/content-images/logos/invoke-dark.png" class="logo-image smaller">
                <img src="assets/content-images/logos/invoke-light.png" class="logo-image-colour" alt="client logo">
            </div>
        </li>
        <li>
            <div uk-img data-src="/assets/content-images/logos/landquest-dark.png" class="logo-image">
                <img src="/assets/content-images/logos/landquest-light.png" class="logo-image-colour" alt="client logo">
            </div>
        </li>
        <li>
            <div uk-img data-src="/assets/content-images/logos/laterolabs-dark.png" class="logo-image large">
                <img src="/assets/content-images/logos/laterolabs-light.png" class="logo-image-colour" alt="client logo">
            </div>
        </li>
        <li>
            <div uk-img data-src="/assets/content-images/logos/lululemon-dark.png" class="logo-image">
                <img src="/assets/content-images/logos/lululemon-light.png" class="logo-image-colour" alt="client logo">
            </div>
        </li>
        <li>
            <div uk-img data-src="/assets/content-images/logos/oakwyn-dark.png" class="logo-image">
                <img src="/assets/content-images/logos/oakwyn-light.png" class="logo-image-colour" alt="client logo">
            </div>
        </li>
        <li>
            <div uk-img data-src="/assets/content-images/logos/panago-dark.png" class="logo-image">
                <img src="/assets/content-images/logos/panago-light.png" class="logo-image-colour" alt="client logo">
            </div>
        </li>
        <li>
            <div uk-img data-src="/assets/content-images/logos/psygig-dark.png" class="logo-image">
                <img src="/assets/content-images/logos/psygig-light.png" class="logo-image-colour" alt="client logo">
            </div>
        </li>
        <li>
            <div uk-img data-src="/assets/content-images/logos/sanctuaryai-dark.png" class="logo-image large">
                <img src="/assets/content-images/logos/sanctuaryai-light.png" class="logo-image-colour" alt="client logo">
            </div>
        </li>
        <li>
            <div uk-img data-src="/assets/content-images/logos/sharesmart-dark.png" class="logo-image">
                <img src="/assets/content-images/logos/sharesmart-light.png" class="logo-image-colour" alt="client logo">
            </div>
        </li>
        <li>
            <div uk-img data-src="/assets/content-images/logos/tribehome-dark.png" class="logo-image smaller">
                <img src="/assets/content-images/logos/tribehome-light.png" class="logo-image-colour" alt="client logo">
            </div>
        </li>
    </ul>
</section>