<section class="work-brief">
	<div class="uk-height-large uk-background-cover uk-light uk-flex" uk-parallax="bgy: -400" style="background-image: url('https://getuikit.com/docs/images/dark.jpg');">
		<h2 class="uk-width-1-2@m uk-text-center uk-margin-auto uk-margin-auto-vertical">O</h2>

	</div>
	<div class="uk-container uk-container-small">
		<div uk-grid class="work-brief-heading">
				<h3 class="uk-width-expand@s">Project Name</h3>
				<div class="work-brief-tag">Health Care, 2022</div>
		</div>
		<div class="work-brief-text">
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			</p>
			<p>
				Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
			</p>
		</div>
		<div class="work-brief-footer">
			logo <br>
			<a href="#" target="_blank" class="uk-button uk-button-primary" uk-icon="icon: arrow-right">Go see it</a>
		</div>
	</div>

</section>