<section class="work-brief uk-grid-match uk-child-width-1-2@l" uk-grid title="Work: Oakwyn Realty">
	<div class="work-brief-visual uk-background-cover uk-light uk-flex" uk-parallax="bgy: -400" style="background-image: url('https://getuikit.com/docs/images/dark.jpg');">
	</div>
	<div class="work-brief-content">
		<div uk-grid class="work-brief-heading uk-grid-small">
				<h3 class="uk-width-expand@m">Oakwyn Realty</h3>
				<div class="work-brief-tag">2021</div>
		</div>
		<div class="work-brief-text">
			<div class="work-brief-tag">Property Technology</div>
			<p>
				Oakwyn was growing fast and needed to upgrade their website to meet their business demands. A better experience for property searching, agents listing, agent profiles, agent onboarding and more.
			</p>
			<p>
				Since their business was expanding to more offices and agents, but their old internal agent portal was not sufficient for their needs. My responsibility was to research and design a new agent portal experience that met their business requirements and optimized the onboarding process for new agents. It was crucial to maintain a consistent and familiar user flow for existing agents while incorporating new system improvements. It was important to keep the agent experience consistent with their established brand but also streamline for optimal usability. My designs reflected their brand and was designed in such a way that easily allowed for future expansion of the internal portal.
			</p>
			<p>
				<a href="https://www.oakwyn.com/" target="_blank" class="uk-button uk-button-text" uk-icon="icon: arrow-right">oakwyn.com</a>
			</p>
		</div>
		<div class="work-brief-footer">
			<img src="/assets/content-images/logos/oakwyn-light.png" alt="logo" class="logo-large">
		</div>
	</div>
</section>

<section class="work-brief uk-grid-match uk-child-width-1-2@l" uk-grid title="Work: Lululemon NYC Re:pair Challenge">
	<div class="work-brief-visual uk-background-cover uk-light uk-flex" uk-parallax="bgy: -400" style="background-image: url('https://getuikit.com/docs/images/dark.jpg');">
	</div>
	<div class="work-brief-content">
		<div uk-grid class="work-brief-heading uk-grid-small">
				<h3 class="uk-width-expand@m">Lululemon NYC Re:pair Challenge</h3>
				<div class="work-brief-tag">2019</div>
		</div>
		<div class="work-brief-text">
			<div class="work-brief-tag">Consumer</div>
			<p>
				Web app that allows participants to connect their Strava accounts and run for points with Lululemon’s running event that coincides with the <a href="https://www.nyrr.org/tcsnycmarathon" target="_blank">2019 New York Marathon</a> held annually in November. Participants collect points when they run with other people through a <a href="https://www.strava.com/challenges/lululemonNYC-repair" target="_blank">Strava Challenge</a> and then can redeem those points for in-store experiences at the Lululemon pop-up store.
			</p>
			<p>
				My role was to work with their branding/marketing agency to flesh out a consumer experience that will reach their business goals while being engaging and meaningful for the consumer. This project was a collaborative effort between Good Fortune Creative and the web app development team (Latero Labs).
			</p>
			<p>
				<a href="https://www.strava.com/challenges/lululemonNYC-repair" target="_blank" class="uk-button uk-button-text" uk-icon="icon: arrow-right">strava.com/challenges/lululemonNYC-repair</a>
			</p>
		</div>
		<div class="work-brief-footer">
			<img src="/assets/content-images/logos/lululemon-light.png" alt="logo">
			<span uk-icon="icon:close"></span>
			<img src="/assets/content-images/logos/gfc-light.png" alt="logo" class="logo-medium">
		</div>
	</div>
</section>

<section class="work-brief uk-grid-match uk-child-width-1-2@l" uk-grid title="Work: Anipet">
	<div class="work-brief-visual uk-background-cover uk-light uk-flex" uk-parallax="bgy: -400" style="background-image: url('https://getuikit.com/docs/images/dark.jpg');">
	</div>
	<div class="work-brief-content">
		<div uk-grid class="work-brief-heading uk-grid-small">
				<h3 class="uk-width-expand@m">Anipet: Online and physical retail experience</h3>
				<div class="work-brief-tag">2020-2023</div>
		</div>
		<div class="work-brief-text">
			<div class="work-brief-tag">E-commerce</div>
			<p>
				An e-commerce platform that facilitates seamless ordering, re-ordering, and custom pricing for retail store owners to stock their stores. This custom mobile experience allows the wholesaler to showcase their product catalog in an easy format that makes their fulfillment process simple and streamlined. The barcode scanner allows the user to simple scan products in their own store for quick re-ordering.
			</p>
			<p>
				My role was to take in the wholesaler’s business requirements for how they want to interact with their customers and translate it into an enjoyable user experience that simplifies their workflow. I adapted the existing branding from their desktop e-commerce into this mobile app to maintain a seamless experience and transition.
			</p>
			<p>
				<a href="https://www.anipet.com" target="_blank" class="uk-button uk-button-text" uk-icon="icon: arrow-right">anipet.com</a>
			</p>
		</div>
		<div class="work-brief-footer">
			<img src="/assets/content-images/logos/anipet-light.png" alt="logo" class="logo-large">
		</div>
	</div>
</section>

<section class="work-brief uk-grid-match uk-child-width-1-2@l" uk-grid title="Work: Finhaven">
	<div class="work-brief-visual uk-background-cover uk-light uk-flex" uk-parallax="bgy: -400" style="background-image: url('https://getuikit.com/docs/images/dark.jpg');">
	</div>
	<div class="work-brief-content">
		<div uk-grid class="work-brief-heading uk-grid-small">
				<h3 class="uk-width-expand@m">Buy and trade digital securities and raise investment capital</h3>
				<div class="work-brief-tag">2019-2020</div>
		</div>
		<div class="work-brief-text">
			<div class="work-brief-tag">Financial Technology</div>
			<p>
				SaaS platform that follows rigorous compliance protocols and facilitates the trading of digital securities for capital markets. Integrated end-to-end technology allows for the smooth transition of trades and negotiations that give investors full custody of their digital assets. Companies can utilize the streamlined tools to raise capital and issue digital security tokens straight from the platform.	
			</p>
			<p>
				My role was to rework the existing product features into the company’s new business model and product direction under ambitious timelines. Over the year, I planned and designed the various product features and particularly the Administrator’s and Compliance team’s feature sets.  
			</p>
			<p>
				<a href="https://www.finhaven.com" target="_blank" class="uk-button uk-button-text" uk-icon="icon: arrow-right">finhaven.com</a>
			</p>
		</div>
		<div class="work-brief-footer">
			<img src="/assets/content-images/logos/finhaven-light.png" alt="logo">
		</div>
	</div>
</section>

<div class="uk-container uk-container-small uk-margin-large-top">
	<section class="work-thumbnail" title="Work: Timesheet Accounting System">
		<div class="work-brief-content">
			<div uk-grid class="work-brief-heading uk-grid-small">
					<h3 class="uk-width-expand@m">Timesheet Workforce Management</h3>
					<div class="work-brief-tag">2018-2020</div>
			</div>
			<div class="work-brief-text">
				<div class="work-brief-tag">Financial Technology, Resource Management</div>
				<p>
					Custom designed workforce management system to replace a legacy system that was not meeting the needs of the business. Through user research, testing, and gathering the business requirements from the finance department who sees the largest impact of a better timesheet system. 
				</p>
				<p>
					The new design increased accuracy and efficiency of timesheet data entry on the front lines by  providing contextual data validation to handle all the different pay scenarios. Validating and verifying data at the point of entry was one of finance department’s main priorities as clean data was very important for them for streamlining processes.
				</p>
				<p>
					Extensive usability testing was conducted both on the wireframes in the initial phase and also for the end product on the web as everyone transitioned to use the new system.
				</p>
			</div>
			<div class="work-brief-footer">
				<img src="/assets/content-images/logos/gct-light.png" alt="logo" class="logo-medium">
			</div>
		</div>
	</section>

	<section class="work-thumbnail" title="Work: Financial Broker Portfolio Manager">
		<div class="work-brief-content">
			<div uk-grid class="work-brief-heading uk-grid-small">
					<h3 class="uk-width-expand@m">Digital Securities Portfolio Manager</h3>
					<div class="work-brief-tag">2018</div>
			</div>
			<div class="work-brief-text">
				<div class="work-brief-tag">Financial Technology</div>
				<p>
					Online platform that allows brokers and consumers to manage and monitor the performance of their digital securities from one centralized dashboard. Customers can set up and configure how they want to monitor their assets and also initiate transactions. Clients can white-label their service for their clients to deliver a full customer experience.
				</p>
				<p>
					My role was to translate the founder’s vision and concept into detailed mockups to build the MVP.
				</p>
				<p>
					The product is in active production and development so logo/names have been removed for privacy.
				</p>
			</div>
		</div>
	</section>

	<section class="work-thumbnail" title="Work: Omni-channel Ad and Sales Platform">
		<div class="work-brief-content">
			<div uk-grid class="work-brief-heading uk-grid-small">
					<h3 class="uk-width-expand@m">Omni-channel Ad and Sales Platform</h3>
					<div class="work-brief-tag">2016-2018</div>
			</div>
			<div class="work-brief-text">
				<div class="work-brief-tag">Financial Technology</div>
				<p>
					SaaS platform that facilitates the end-to-end advertising and sales monitoring for online and retail stores. Wholesale/Product companies can advertise their products via out-of-home screens in retail shops on the network. The platform handles e-commerce product cataloguing, inventory management, back-office management, live order ticketing, and delivery routing.
				</p>
				<p>
					The product is in active production and development so logo/names have been removed for privacy.
				</p>
			</div>
		</div>
	</section>

	<section class="work-thumbnail" title="Work: Fantasy Sports">
		<div class="work-brief-content">
			<div uk-grid class="work-brief-heading uk-grid-small">
					<h3 class="uk-width-expand@m">Fantasy Sports</h3>
					<div class="work-brief-tag">2016</div>
			</div>
			<div class="work-brief-text">
				<div class="work-brief-tag">Gaming</div>
				<p>
					Client had built a working alpha version of the game and needed to improve the user experience. The user interface had to be revamped to be consumer-ready and matching the developing brand.Because the app will be primarily used in noisy dark environments with flashy television screens nearby, the UI needed to use high contrast colours as well as obvious buttons that were easy to tap.
				</p>
			</div>
		</div>
	</section>

	<section class="work-thumbnail" title="Work: Investments Illustrated">
		<div class="work-brief-content">
			<div uk-grid class="work-brief-heading uk-grid-small">
					<h3 class="uk-width-expand@m">
						Translate financial data into digestible formats
					</h3>
					<div class="work-brief-tag">2010</div>
			</div>
			<div class="work-brief-text">
				<div class="work-brief-tag">Financial Technology, Data visualization</div>
				<p>I designed materials financial advisors use to help them serve their clients better. I translated investing concepts and number-heavy content into interactive and animated presentation formats that could be shown. I created digital animated diagrams and printed booklets that were white-labeled. I presented complex financial information paired in context with relevant data to tell a more meaningful fuller story. I designed the original flagship historical performance chart “the Big Picture” which hangs on the walls of many financial advisors’ offices.
				</p>
			</div>
			<div class="work-brief-footer">
				<img src="/assets/content-images/logos/investmentsillustrated-light.png" alt="logo logo-large">
			</div>
		</div>
	</section>
</div>