@font-face {
    font-family: 'Sofia Pro';
    src: url('fonts/sofia-pro/sofia_pro_light_az-webfont.eot');
    src: url('fonts/sofia-pro/sofia_pro_light_az-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/sofia-pro/sofia_pro_light_az-webfont.woff2') format('woff2'),
         url('fonts/sofia-pro/sofia_pro_light_az-webfont.woff') format('woff'),
         url('fonts/sofia-pro/sofia_pro_light_az-webfont.ttf') format('truetype'),
         url('fonts/sofia-pro/sofia_pro_light_az-webfont.svg#sofia_prolight') format('svg');
    font-weight: 300;
    font-style: normal;

}


@font-face {
    font-family: 'Sofia Pro';
    src: url('fonts/sofia-pro/sofia_pro_regular_az-webfont.eot');
    src: url('fonts/sofia-pro/sofia_pro_regular_az-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/sofia-pro/sofia_pro_regular_az-webfont.woff2') format('woff2'),
         url('fonts/sofia-pro/sofia_pro_regular_az-webfont.woff') format('woff'),
         url('fonts/sofia-pro/sofia_pro_regular_az-webfont.ttf') format('truetype'),
         url('fonts/sofia-pro/sofia_pro_regular_az-webfont.svg#sofia_proregular') format('svg');
    font-weight: 400;
    font-style: normal;

}


@font-face {
    font-family: 'Sofia Pro';
    src: url('fonts/sofia-pro/sofia_pro_bold_az-webfont.eot');
    src: url('fonts/sofia-pro/sofia_pro_bold_az-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/sofia-pro/sofia_pro_bold_az-webfont.woff2') format('woff2'),
         url('fonts/sofia-pro/sofia_pro_bold_az-webfont.woff') format('woff'),
         url('fonts/sofia-pro/sofia_pro_bold_az-webfont.ttf') format('truetype'),
         url('fonts/sofia-pro/sofia_pro_bold_az-webfont.svg#sofia_probold') format('svg');
    font-weight: 700;
    font-style: normal;

}



@font-face {
    font-family: 'Nexa';
    src: url('fonts/nexa/nexa_regular-webfont.eot');
    src: url('fonts/nexa/nexa_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/nexa/nexa_regular-webfont.woff2') format('woff2'),
         url('fonts/nexa/nexa_regular-webfont.woff') format('woff'),
         url('fonts/nexa/nexa_regular-webfont.ttf') format('truetype'),
         url('fonts/nexa/nexa_regular-webfont.svg#nexa-regular') format('svg');
    font-weight: 400;
    font-style: normal;

}

@font-face {
    font-family: 'Nexa';
    src: url('fonts/nexa/nexa_bold-webfont.eot');
    src: url('fonts/nexa/nexa_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/nexa/nexa_bold-webfont.woff2') format('woff2'),
         url('fonts/nexa/nexa_bold-webfont.woff') format('woff'),
         url('fonts/nexa/nexa_bold-webfont.ttf') format('truetype'),
         url('fonts/nexa/nexa_bold-webfont.svg#nexa-bold') format('svg');
    font-weight: 700;
    font-style: normal;

}



