/* karen-theme */

@import "font";
@import "karen-mixins";

$brand-dark: #031633;
$brand-medium: #052C65;
$brand-light: #084298;
$brand-lighter: #6EA8FE;
$base-font-size: 18px;

$font-size-xl: 1.5rem;
$font-size-lg: 1.25rem;
$font-size-medium: 1rem;
$font-size-sm: 0.875rem;
$font-size-xs: 0.75rem;

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;


$font-strong-light-color: white;
$white-01: rgba(255,255,255,0.7);
$white-02: rgba(255,255,255,0.4);
$white-03: rgba(255,255,255,0.1);
$white-04: rgba(255,255,255,.05);

$base-font-family: "Sofia Pro";
$secondary-font-family: "Nexa";


html { 
	transition: background-color 300ms ease-out;
}

body {
	font-size: $base-font-size;
	font-family: $base-font-family, "Helvetica", "Arial", sans-serif;
	font-weight: $font-weight-light;
	letter-spacing: 0.04em;
	-moz-osx-font-smoothing: grayscale; 
	-webkit-font-smoothing: antialiased;


	@media (min-width: 1400px){
		font-size: 22px;
	}

	@media (max-width: 640px){
		font-size: 16px;
	}
}

strong { font-weight: $font-weight-bold;}
p { 
	font-weight: $font-weight-light;
	a { font-weight: $font-weight-bold;}
}



/* ------------------------------------ NAV */
.navigation-menu {
	padding-top: 2rem;
	padding-bottom: 2rem;
	display: flex;
	gap: 30px;


	.uk-active .uk-button {
		color: white;
		font-weight: $font-weight-bold;
	}
	.uk-button	{ 
		min-height: auto;
		font-family: inherit;
		font-weight: $font-weight-normal;
		letter-spacing: 0.125em;
		text-transform: uppercase;
		font-size: $font-size-sm;
		color: $white-02;
		
	}
}
.uk-navbar-toggle {
	font-family: inherit ;
}


#mobile-menu { 
	.uk-nav {
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;			
	}
	.uk-offcanvas-bar {
		background-color: rgba(255,255,255,0.8);
		color: $brand-dark;

		.uk-close, .uk-button-link, a {
			color: inherit;
			font-family: inherit;
		}
	}
}

// background of the mobile menu offcanvas
.uk-offcanvas-container::after {
	content:"";
	display: block;
	position: absolute;
	left:0;
	right: 0;
	top:0;
	bottom: 0;
	background-color: rgba(0,0,0,0.3);
	backdrop-filter: blur(6px);
	-webkit-backdrop-filter: blur(6px);
}

.uk-logo {
	img {
		height: 1.75rem;
		max-width: none;
	}
	justify-content: flex-start !important;
	width: 1.75rem;
	overflow: hidden;
	transition: width 300ms ease-in-out;
	-webkit-transition: width 300ms ease-in-out;
	&:focus {
		width: 200px;
	}

	.klo-logo svg {
		height: 100%;
		width: auto;
		max-width: none;
	}
}

@media (min-width: 768px){
	.uk-navbar-container:hover .uk-logo {
		width: 200px !important;
	}
}

/* ------------------------------------ GENERIC  */
.page-content {
	padding-top: 2rem;
	padding-bottom: 2rem;

	> * {
		margin-bottom: 7%;
	}
}
.post-content h2 {
	margin-top: 10%;
}

// can be used anywhere I want to set a specific background colour
.bg-brand-dark 		{ background-color: $brand-dark;}
.bg-brand-medium 	{ background-color: $brand-medium;}
.bg-brand-light	 	{ background-color: $brand-light;}
.bg-brand-lighter { background-color: $brand-lighter;}


h1, h2 {
	// color: inherit;
	font-family: $secondary-font-family, sans-serif;
	font-weight: $font-weight-bold;
	letter-spacing: 0.125rem;
	margin-bottom: 1.25em;
}
h3, h4, h5, h6  {
	letter-spacing: 0.0625em;
	font-family: $base-font-family;
	font-weight: $font-weight-bold;
}



// heading font sizing
h1 { 
	@media (min-width: 768px){
			font-size: 5rem; 

			&.post-title {
				font-size: 3.5rem;	
			}
	}
}

h2 { 
	@media (min-width: 768px){
		font-size: 3.1325rem;
	}
	@media (min-width: 1000px){
		transition: margin 300ms ease-in-out;
		-webkit-transition: margin 300ms ease-in-out;
		margin-left: -8%; 
	}
}

h3 { 
	@media (min-width: 768px){
		font-size: 2.125rem;
	}
	@media (min-width: 1000px){
		transition: margin 300ms ease-in-out;
		-webkit-transition: margin 300ms ease-in-out;
		margin-left: -8%; 
	}
}
h4 { 
	@media (min-width: 768px){
		font-size: 1.625rem;
	}
}

h5 { 
	letter-spacing: 0.04em;
	@media (min-width: 768px){
		font-size: 1.25rem;
	}
}

h6 {
	font-size: $base-font-size;
	margin-bottom: 0.25em;
}


/* ------------------------------------ COMPONENTS */

a {
	img.fade-in-hover { 
		opacity: 0.5;
		border: 1px solid transparent;
	}

	&:hover {
		img.fade-in-hover {
			opacity: 1;
			transition: opacity 300ms ease-in-out ;
			border: 1px solid $white-03;
		}
	}
}

.uk-light {
	.uk-button-primary {
		background-color: $brand-light;
		color: white;
		&:hover {
			background-color: $brand-lighter;
			color: white;
		}
	}
}



.uk-button-link{
	font-family: inherit;
	font-weight: $font-weight-bold;
	letter-spacing: 0.125em;
}
.uk-button-text {
	color: $white-02;
	font-family: inherit;
	font-size: inherit;
	font-weight: $font-weight-bold;
	line-height: inherit;
	text-transform: inherit;
	display: inline;
	vertical-align: inherit;
}

.uk-dropdown {
	font-size: $base-font-size;
	padding: 1em;
}


// reset modal text colour
.uk-light .uk-modal {
	h1, h2, h3, h4, h5, p, a, span, strong, ul,.uk-close  {
		color: $brand-dark;
	}
	&.uk-modal-full { 
		background-color: white;
		.uk-close {
			position: fixed;
		}
	}

	h1, h2, h3 {
		margin-left: 0;
	}
}

.post-meta {
    font-size: small;
}

.post-list,
.social-media-list,
.contact-list {
	margin-left: 0;
	padding-left: 0;
	list-style: none;
}
.svg-icon {
	width: $base-font-size;
	height: $base-font-size;
	display: inline-block;
	fill: $white-02;
}
fieldset {
	border: 0;
}

.contact-form {
	border: 1px solid $white-02;
	font-size: $base-font-size;
	.uk-input, .uk-textarea { 
			color: $font-strong-light-color !important ;
	}
}


.uk-card {
	h3 { margin-left: 0;}

	// make the card clickable from nested <a>
	.uk-card-body  a::before {
			content: "";
			position: absolute;
			top:0;
			right:0;
			bottom: 0;
			left: 0;;
	}
}	

// basic card style
.subtle-card {
	background-color: $white-04;
	padding: 1em;
	font-size: $base-font-size;
}

.uk-tooltip {
	background-color: $brand-light;
}

.inline-icon {
	display: inline-block;
	&.icon-academic-cap svg {
			margin-top: -3px;
	}
}


/* stick tiny nav */
.tiny-page-nav {
	position: fixed;
	top: 50%;
	transform: translateY(-50%);
	left: $base-font-size;
	width: 200px;
	
	@include fade-in-on-hover;

	@media (max-width: 959px) {
			//Medium and below
			display: none;
	}

}


/* ------------------------------------ HOME */

.page-home {
	background-color: $brand-dark;
}

.home-intro {

	.uk-dropdown {
		width: 30em;
		font-size: $font-size-medium;
		font-weight: $font-weight-normal;
	}
	@media (max-width: 640px){  
		font-size: $font-size-lg;
		.uk-dropdown {
			font-size: $font-size-sm;
		}
	}
}

a.discovery-link {
	font-weight: $font-weight-normal;
	background-color: rgba(8, 66, 152, 0.4);
	transition: background-color 300ms ease-in-out;
	&:hover {
		text-decoration: none;
		background-color: $brand-light;
	}
}


.logos-list {
	transition: background 100ms ease-in;
	-webkit-transition: background 100ms ease-in;
	background: rgba(0,0,0,0.3);
	padding-top: 3%;
	padding-bottom: 3%;
	user-select: none;
	-webkit-user-select: none;

	.logo-image {
		opacity: 0.3;
		width: 5.5em;
		height: 2.5em;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 0.625em;
		transform: scale(0.7);


		// dark logo
		filter: grayscale(1);
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;

		transition: background 150ms ease-in, opacity 150ms ease-in, filter 150ms ease-in, transform 150ms ease-in;
		-webkit-transition: background 150ms ease-in, opacity 150ms ease-in, filter 150ms ease-in, transform 150ms ease-in;
		

		.logo-image-colour {
			opacity: 0;
			max-height: 100%;
			max-width: 100%;
		}

		&.smaller {
			width: 3.5em;
			margin-left: 0.75em;
			margin-right: 0.75em;
		}

		&.small {
			width: 3em;
			margin-left: 0.25em;
			margin-right: 0.25em;   
		}

		&.larger {
			width: 5em;
		}

		&.large {
			width: 8em;
		}
	}
	/*
	.logo-image:hover {
		background-image: none !important;
		filter: grayscale(0);
		transform: scale(1.75);
		background-color: white;
		opacity: 1;

		.logo-image-colour {
			opacity: 1;
			transition: opacity 100ms ease-in;
			-webkit-transition: opacity 100ms ease-in;
			transition-delay: 100ms;
		}
	} */

	&:hover {
		cursor: pointer;
		.logo-image {
			opacity: 0.4;
		}
	}

	@media (max-width: 640px){ 
		.logo-image {
				padding: 0;
		}
	}
}

.logo-list-in-colour,
.logos-list:focus {
	background: white;
	transition: background 300ms ease-in-out;
	-webkit-transition: background 300ms ease-in-out;
	.logo-image {
		background-image: none !important;
		filter: grayscale(0);
		transform: scale(1);
		opacity: 1 !important;

		.logo-image-colour {
				opacity: 1;
				transition: opacity 100ms ease-in;
				-webkit-transition: opacity 100ms ease-in;
				transition-delay: 150ms;
		}
	}
	@media (max-width: 640px){ 
		.logo-image {
				transform: none;
		}
	}
}


.quotes-slider {
	padding: 0 6%; // space for the arrows
	font-size: $font-size-sm;

	.uk-card {
		width: 180px;
		color: $font-strong-light-color;
		margin-left: auto;
		margin-right: auto;
		text-align: left;
		-webkit-user-select: none;
		user-select: none;

		p {
			margin-bottom: $font-size-medium;
		}
		.uk-text-uppercase {
			font-weight: bold;
		}
	}
}

@media (max-width: 640px){
	.quotes-slider li {
		display: flex !important;
		flex-direction: column;
    justify-content: center;

		.uk-card {
			margin-left: auto;
			margin-right: auto;
			text-align: center;
			width: 80%;
		}
	}
	.quotes-slider-buttons {
		text-align: center;
		.uk-slidenav {
		position: static !important;
		transform: none;
		}
	}
}

.featured-work {
	.uk-grid {
		margin-left: 0;
	}
}

// don't show the label "featured" anywhere
.tag-featured { display: none;}         

// don't show the label meant for custom sets of work
[class*="tag-custom"] { display: none;}  



/* ------------------------------------ WORK */    
.page-work {
	background-color: $brand-light;
}

.work-brief {
	width: 100%;
	background-color: white;
	color: $brand-dark;
	padding-bottom: 5%;
	margin-top: 2rem;
}
.work-brief-heading {
	margin-top: 3rem;
	align-items: center;
	h3 { 
		margin-left: 0;
		color: inherit;
	}
}
.work-brief-tag {
	font-size: $font-size-sm;
	text-transform: uppercase;
	opacity: 0.6;
	letter-spacing: 0.125em;
}
.work-brief-text {
	margin-top: 3rem;
	column-width: 14em;
	column-gap: 5rem;
	font-size: $font-size-lg;
}

.work-brief-footer {
	margin-top: 2rem;
	text-align: center;
	.uk-button { 
		margin-top: 2rem;
	}
}

.page-contact {
	background-color: $brand-light;
	.page-content { 
		padding: 0 1rem;
	}
}

.contact-form-container {
	width: 640px;
	height: 560px;
	border: 0;
}


/* ------------------------------------ ABOUT */
.page-about {
	background-color: $brand-medium;

	strong {
		color: $font-strong-light-color;
	}
	dt {
		/* headin g*/
		color: $font-strong-light-color;
		font-weight: $font-weight-bold;
		margin-bottom: 1em;
		@media (min-width: 768px){
				font-size: smaller;
		}
	}
	dd { 
		/* list */
		margin-bottom: 0.5em;
		font-size: $base-font-size;
		@media (min-width: 768px){
			font-size: smaller;
		}
		font-weight: 300;
		line-height: 1.2;
	}

	.influence-slider {

		padding: 0 5%;
		.uk-slidenav {
			margin-top: -20px;
		}

		.uk-card  {
			@include fade-in-on-hover(0.3);

			&:hover .card-caption {
				opacity: 1;
			}

		}
		.card-caption {
			opacity: 0;
			transition: opacity 300ms ease-in-out;
			-webkit-transition: opacity 300ms ease-in-out;
			line-height: 1.2;
			font-size: $font-size-xs;
			padding-top: 0.5rem;
				
		}
	}
}


