<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

<link rel="stylesheet" href="/assets/uikit/css/uikit.min.css">

  {%- include head.html -%}

  <body class="page-{{ page.slug }} category-{{ page.categories }}" >

    {%- include header.html -%}
    
    <main class="page-content" aria-label="Content">
        {{ content }}
    </main>

    {%- include footer.html -%}

  </body>

  <script src="/assets/uikit/js/uikit.min.js"></script>
  <script src="/assets/uikit/js/uikit-icons.min.js"></script>
  <script src="/assets/uikit/js/components/parallax.min.js"></script>
  <script src="/assets/uikit/js/components/slider.min.js"></script>

</html>