<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">


  <link rel="stylesheet" href="/assets/uikit/css/uikit.min.css">
  <!--<script src="/assets/uikit/js/uikit-icons.min.js"></script> -->
  <script src="https://cdn.jsdelivr.net/npm/uikit@3.16.22/dist/js/uikit-icons.min.js"></script>

  {%- include head.html -%}

  <body>

    
    <main class="page-content" aria-label="Content">
      <div class="uk-container">
        {{ content }}
      </div>
    </main>


  </body>

  <script src="/assets/uikit/js/uikit.min.js"></script>

</html>